*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --scroll-bar: 0;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.5715;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#root {
  height: inherit;

  .App {
    height: inherit;

    .adv-layout {
      height: inherit;
      min-width: 375px;
    }
  }
}

.adv-header {
  height: 64px;
  padding: 16px 32px;
  background: #fff;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  min-width: 375px;

  ul {
    display: flex;
    align-items: center;

    li:nth-child(1) {
      div:nth-child(1) {
        font-weight: 600;
        color: #727272;
        line-height: 1;
      }

      div:nth-child(2) {
        color: #727272;
        font-weight: 300;
        font-size: 0.7rem;
      }
    }

    li:nth-child(2) {
      margin: 0 22px 0 16px;
      cursor: pointer;
    }

    li:nth-child(3) {
      cursor: pointer;
    }
  }
}

.main-wrapper {
  height: inherit;
  display: flex;
  flex: auto;
  background: #F7F7F7;
  padding-top: 70px;

  .adv-sidebar {
    max-width: 72px;
    min-width: 72px;
    width: 72px;
    position: relative;
    background: #fff;
    transition: all .2s;

    .sidebar-container {
      li:nth-child(1) {
        padding: 24px 24px 14px;

        .line-box {
          cursor: pointer;
          max-width: 24px;

          .line1, .line2, .line3 {
            height: 2px;
            background: #727272;
            opacity: .6;
            margin-bottom: 5px;
          }

          .line3 {
            width: 75%;
          }
        }
      }

      .icon-container {
        padding: 12px 22px;
        background: #D2D2D2;

        .icon-box {
          max-width: 28px;
          cursor: pointer;
          padding: 0 3px;
          background: #fff;
          display: inherit;
        }
      }
    }
  }

  main {
    width: 100%;
    padding: 30px 32px 30px 24px;

    .dashboard-container {
      height: 100%;

      .header-content {
        .header-title {
          font-size: 2rem;
          font-weight: 600;
          color: #707070C4;
        }
      }
    }
  }
}
